<div class="container">
  <h1>Todo List</h1>

  <form onsubmit="return false" (submit)="addTask()">
    <div class="input-section">
      <input type="text" name="inputTodo" placeholder="Enter a task..." class="todo-input" [(ngModel)]="InputTodo">
      <input type="submit" value="Add a task" class="todo-submit">
    </div>

    <div class="tasks-section" *ngFor="let todo of todos; let i = index;">
      <p class="id">{{ i }}</p>
      <div class="todo {{ (todo.completed ? 'done' : '') }}">{{ todo.content }}</div>
      <div class="btn-container">
        <button class="btn btn-done" (click)="doneTask(i)">Done</button>
        <button class="btn btn-delete" (click)="deleteTask(i)">Remove</button>
      </div>
    </div>
  </form>
  
  <div style="height:100vh"></div>
</div>